{% extends 'base_template.html' %}
{% load django_bootstrap5  %}



{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Welcome to Music App!</h1>
        <p class="lead">Explore, share, and enjoy the world of music at your fingertips.</p>
        <hr class="my-4">
        <p>Discover the top trending songs and dive into the details.</p>
    </div>

    <h2>Top Songs</h2>
    <ul class="list-group">
        {% for song in songs %}
        <li class="list-group-item d-flex justify-content-between align-items-center">

            <div class="song-link-box">
                <a href="{% url 'song_detail' song.id %}">{{ song.name }}</a>


            </div>

        </li>
        {% empty %}
        <li class="list-group-item">No songs found.</li>
        {% endfor %}
    </ul>
{% endblock %}
