{% extends 'base_template.html' %}
{% load django_bootstrap5 %}

{% block content %}
<div class="container mt-4" style="display: flex; justify-content: center; color: black;">
    <div class="form-box">
        <h2 class="text-center">Rate the Song</h2>
        <form method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Submit Rating</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
