    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh; /* ensures the content takes up at least the full viewport height */
    }

    .content-wrapper {
        display: flex;
        flex: 1; /* causes this container to grow and take up available space */
    }

    .btn-custom {
        background-color: #4CAF50;  /* Green background */
        border: none;               /* Remove default border */
        color: white;              /* White text */
        padding: 12px 20px;        /* Some padding */
        text-align: center;        /* Centered text */
        text-decoration: none;     /* Remove underline */
        display: inline-block;     /* Inline-block */
        font-size: 16px;           /* Increase font size */
        margin: 4px 2px;           /* Some margin */
        cursor: pointer;           /* Pointer/hand cursor on hover */
        border-radius: 4px;        /* Rounded corners */
        transition-duration: 0.4s; /* Transition for smooth hover effect */
    }
    
    .btn-custom:hover {
        background-color: #45a049;  /* Darker green on hover */
    }
    
    .btn-delete {
        background-color: #850000;  /* Green background */
        border: none;               /* Remove default border */
        color: white;              /* White text */
        padding: 12px 20px;        /* Some padding */
        text-align: center;        /* Centered text */
        text-decoration: none;     /* Remove underline */
        display: inline-block;     /* Inline-block */
        font-size: 16px;           /* Increase font size */
        margin: 4px 2px;           /* Some margin */
        cursor: pointer;           /* Pointer/hand cursor on hover */
        border-radius: 4px;        /* Rounded corners */
        transition-duration: 0.4s; /* Transition for smooth hover effect */
    }

    .btn-delete:hover {
        background-color: #6c0000;  /* Darker green on hover */
    }
    
    .form-box {
        background-color: #f8f9fa; /* Light gray background */
        border: 1px solid #ddd;    /* Light gray border */
        border-radius: 10px;       /* Rounded corners */
        padding: 20px;             /* Padding inside the box */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
        margin-top: 10vh;          /* Pushed towards the top 1/4 of the page */
        width: 100%;
        max-width: 500px;          /* Max width for the form box */
    }
    

/* Style the navbar */
    .navbar {
        display: flex;
       
        align-items: center;
        background-color: #10028f; /* Change this to your preferred navbar color */
        padding: 1rem 2rem;
        font-family: Arial, sans-serif;
    }

    /* Style the logo and its image */
    .nav-logo {
        display: flex;
        align-items: center;
    }

    .nav-logo img {
        height: 40px; /* Adjust as necessary */
        width: auto;
        margin-right: 0.5rem;
    }

    /* Style the nav links */
    .nav-link {
        background-color: #555; /* Button background color */
        color: white; /* Text color */
        padding: 0.5rem 1rem;
        margin: 0 1rem ;
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    }

    /* Style for the Sign In button */
    .login-btn {
        background-color: #e8f1fa; /* Different color for the Sign In button. Adjust if needed */
    }

    /* Hover effect for the nav links */
    .nav-link:hover {
        background-color: #777;
    }

    /* Hover effect for the Sign In button */
    .login-btn:hover {
        background-color: #0056b3;
    }

    .spacer {
        flex-grow: 1;
    }
    
 
    .left-padding, .right-padding {
        flex: 2; /* This makes sure they take up equal space on either side */
        background-color: #e5e5e5; /* Adjust this color to your desired side padding color */
    }
    
    .main-content {
        flex: 8; /* This makes sure the main content is twice as wide as each padding */
        background-color: rgb(206, 234, 252) ; /* Adjust this color to your desired main content background color */
    }

        /* To ensure footer sticks to the bottom */
        footer {
            margin-top: auto;
        }



        /* Web Page Responsiveness */
        @media (max-width: 768px) {
            body {
                font-size: 1rem; /* you can adjust this value */
            }
        }

        @media (min-width: 769px) and (max-width: 1024px) {
            body {
                font-size: 1.25rem; /* you can adjust this value */
            }
        }


