

    .main-content {
        flex: 8; /* Adjusted for a larger main content area */
        background-color: rgba(51, 153, 255, 0.8)
    }

    .left-padding, .right-padding {
        flex: 2; /* These will show the background image */
    }

    .content-wrapper {
        display: flex;
        flex: 1; /* causes this container to grow and take up available space */
    }

    .btn-custom {
        background-color: #4CAF50;  /* Green background */
        border: none;               /* Remove default border */
        color: white;              /* White text */
        padding: 12px 20px;        /* Some padding */
        text-align: center;        /* Centered text */
        text-decoration: none;     /* Remove underline */
        display: inline-block;     /* Inline-block */
        font-size: 16px;           /* Increase font size */
        margin: 4px 2px;           /* Some margin */
        cursor: pointer;           /* Pointer/hand cursor on hover */
        border-radius: 4px;        /* Rounded corners */
        transition-duration: 0.4s; /* Transition for smooth hover effect */
    }
    
    .btn-custom:hover {
        background-color: #45a049;  /* Darker green on hover */
    }
    
    .btn-delete {
        background-color: #850000;  /* Green background */
        border: none;               /* Remove default border */
        color: white;              /* White text */
        padding: 12px 20px;        /* Some padding */
        text-align: center;        /* Centered text */
        text-decoration: none;     /* Remove underline */
        display: inline-block;     /* Inline-block */
        font-size: 16px;           /* Increase font size */
        margin: 4px 2px;           /* Some margin */
        cursor: pointer;           /* Pointer/hand cursor on hover */
        border-radius: 4px;        /* Rounded corners */
        transition-duration: 0.4s; /* Transition for smooth hover effect */
    }

    .btn-delete:hover {
        background-color: #6c0000;  /* Darker green on hover */
    }
    
    .form-box {
        background-color: #f8f9fa; /* Light gray background */
        border: 1px solid #ddd;    /* Light gray border */
        border-radius: 10px;       /* Rounded corners */
        padding: 20px;             /* Padding inside the box */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
        margin-top: 10vh;          /* Pushed towards the top 1/4 of the page */
        width: 100%;
        max-width: 500px;          /* Max width for the form box */
    }
    

/* Style the navbar */
    .navbar {
        display: flex;
       
        align-items: center;
        background-color: rgba(19, 42, 69, 1);
        padding: 1rem 2rem;
        font-family: Arial, sans-serif;
    }

    /* Style the logo and its image */
    .nav-logo {
        display: flex;
        align-items: center;
    }

    .nav-logo img {
        height: 40px; /* Adjust as necessary */
        width: auto;
        margin-right: 0.5rem;
    }

    /* Style the nav links */
    .nav-link {
        background-color: #555; /* Button background color */
        color: white; /* Text color */
        padding: 0.5rem 1rem;
        margin: 0 1rem ;
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    }

    /* Style for the Sign In button */
    .login-btn {
        background-color: #e8f1fa; /* Different color for the Sign In button. Adjust if needed */
    }

    /* Hover effect for the nav links */
    .nav-link:hover {
        background-color: #777;
    }

    /* Hover effect for the Sign In button */
    .login-btn:hover {
        background-color: #0056b3;
    }

    .spacer {
        flex-grow: 1;
    }
    
 
  
 

        /* To ensure footer sticks to the bottom */
        footer {
            margin-top: auto;
        }


        .song-link-box {
            display: block; /* Change to block for better control */
            background-color: #f8f9fa; /* Light gray background */
            border: 1px solid #ddd; /* Light gray border */
            border-radius: 8px; /* Rounded corners */
            padding: 15px; /* Padding inside the box */
            margin: 10px 0; /* Vertical margin for spacing between boxes */
            text-decoration: none; /* Removing underline from links */
            color: #333; /* Dark text color */
            transition: box-shadow 0.3s; /* Smooth transition for hover effect */
        }
        
        .song-link-box:hover {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow on hover */
        }
        
        .song-link-box a {
            color: #0056b3; /* Link color */
            font-size: 1.2em; /* Larger font size for song name */
            font-weight: bold; /* Bold font weight */
            text-decoration: none; /* Removing underline */
            display: block; /* Making the link a block element */
            margin-bottom: 5px; /* Spacing between link and badges */
        }
        
        .song-link-box .badge {
            font-size: 0.85em; /* Slightly smaller font size for badges */
            margin-right: 5px; /* Spacing between badges */
        }
                
        /* Style for the dropdown container */
        .nav-item.dropdown {
            position: relative;
        }

        /* Dropdown Menu initially hidden */
        .nav-item .dropdown-menu {
            display: none;
            position: absolute;
            background-color: white;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        /* Dropdown Menu visible on hover */
        .nav-item.dropdown:hover .dropdown-menu {
            display: block;
        }

        /* Dropdown items style */
        .dropdown-menu a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        /* Hover color for dropdown items */
        .dropdown-menu a:hover {
            background-color: #ddd;
        }


        
        /* Web Page Responsiveness */
        @media (max-width: 768px) {
            body {
                font-size: 1rem; /* you can adjust this value */
            }
        }

        @media (min-width: 769px) and (max-width: 1024px) {
            body {
                font-size: 1.25rem; /* you can adjust this value */
            }
        }
